force-app/main/default/flows/CC_Trigger_Upsert_Sync_Credits.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Action_Calculate_Credits</name>
        <label>Calculate Credits via Apex</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>PlanCreditCalculator</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>oldPeId</name>
            <value>
                <elementReference>$Record__Prior.hed__Program_Enrollment__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>peId</name>
            <value>
                <elementReference>$Record.hed__Program_Enrollment__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PlanCreditCalculator</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decision_Check_Criteria</name>
        <label>Check Criteria</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No Relevant Change</defaultConnectorLabel>
        <rules>
            <name>Yes_Recalculate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Notations__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Notations__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.hed__Credits_Earned__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.hed__Credits_Earned__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.hed__Program_Enrollment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.hed__Program_Enrollment__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Action_Calculate_Credits</targetReference>
            </connector>
            <label>Yes Recalculate</label>
        </rules>
    </decisions>
    <description>Triggers on Creation or Update of Course Enrollment. Monitors changes in Notation, Credits, or Parent Reparenting to invoke Apex and sync Program Enrollment credits. V3</description>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>CC Trigger Upsert Sync Credits {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CC Trigger Upsert Sync Credits</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Check_Criteria</targetReference>
        </connector>
        <object>hed__Course_Enrollment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_ApexResult</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
</Flow>
