force-app/main/default/flows/CC_Trigger_Delete_Sync_Credits.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Action_Calculate_Current_Total</name>
        <label>Calculate Current Total</label>
        <locationX>176</locationX>
        <locationY>300</locationY>
        <actionName>PlanCreditCalculator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Parent_with_Subtraction</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>peId</name>
            <value>
                <elementReference>$Record.hed__Program_Enrollment__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>planId</name>
            <value>
                <elementReference>$Record.hed__Program_Enrollment__r.hed__Program_Plan__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PlanCreditCalculator</nameSegment>
        <outputParameters>
            <assignToReference>var_ApexTotalIncluded</assignToReference>
            <name>totalCredits</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Triggered Before Delete. Calculates total via Apex and manually subtracts the dying record&apos;s credits to ensure accurate Program Enrollment total.</description>
    <formulas>
        <name>form_AdjustedResult</name>
        <dataType>Number</dataType>
        <expression>IF(
                OR(
                    TEXT({!$Record.Notations__c}) = &quot;R&quot;,
                    TEXT({!$Record.Notations__c}) = &quot;EQV&quot;,
                    TEXT({!$Record.Notations__c}) = &quot;TRANSF&quot;
                ),
                {!var_ApexTotalIncluded} - {!$Record.hed__Credits_Earned__c},
                {!var_ApexTotalIncluded}
            )</expression>
        <scale>3</scale>
    </formulas>
    <label>CC Trigger Delete Sync Credits</label>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Parent_with_Subtraction</name>
        <label>Update Parent with Subtraction</label>
        <locationX>176</locationX>
        <locationY>400</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.hed__Program_Enrollment__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>hed__Credits_Earned__c</field>
            <value>
                <elementReference>form_AdjustedResult</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Program_Enrollment__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Action_Calculate_Current_Total</targetReference>
        </connector>
        <object>hed__Course_Enrollment__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_ApexTotalIncluded</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
</Flow>
