force-app/main/default/flows/Contact_to_Account_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Proceed if any mapped Contact field changed</description>
        <name>Contact_fields_changed</name>
        <label>Contact fields changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AnyChanged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AEBEQ_Update_Checkbox_in_account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.AEBEQ_Update_Checkbox_in_account__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SEMBEQ_Update_Checkbox_in_account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SEMBEQ_Update_Checkbox_in_account__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ID_Prodon_contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ID_Prodon_contact__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Preferred_Language_Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Preferred_Language_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_from_Contact</targetReference>
            </connector>
            <label>Any mapped field changed</label>
        </rules>
    </decisions>
    <description>Contact → Account mirror for 4 mapped fields, avoiding loops via difference filters.</description>
    <environments>Default</environments>
    <interviewLabel>Contact_to_Account_Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact_to_Account_Sync 4 fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account_from_Contact</name>
        <label>Update Account from Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AEBEQ__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.AEBEQ_Update_Checkbox_in_account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SEMBEQ__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.SEMBEQ_Update_Checkbox_in_account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ID_Prodon__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.ID_Prodon_contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Preferred_Language_Account__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Preferred_Language_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AEBEQ__c</field>
            <value>
                <elementReference>$Record.AEBEQ_Update_Checkbox_in_account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ID_Prodon__c</field>
            <value>
                <elementReference>$Record.ID_Prodon_contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Language_Account__c</field>
            <value>
                <elementReference>$Record.Preferred_Language_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SEMBEQ__c</field>
            <value>
                <elementReference>$Record.SEMBEQ_Update_Checkbox_in_account__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact_fields_changed</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
