force-app/main/default/flows/EDA_Auto_Populate_Credits.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Updates Credits Attempted on Program Enrollment creation by fetching the Total Required Credits from the related Program Plan (After Save).</description>
    <environments>Default</environments>
    <interviewLabel>EDA - Auto-Populate Credits {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EDA - Auto-Populate Credits</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Program_Plan</name>
        <label>Get Program Plan</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Program_Enrollment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.hed__Program_Plan__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Program_Plan__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>hed__Total_Required_Credits__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Program_Enrollment</name>
        <label>Update Program Enrollment</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>hed__Credits_Attempted__c</field>
            <value>
                <elementReference>Get_Program_Plan.hed__Total_Required_Credits__c</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Program_Enrollment__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Program_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Program_Plan__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>hed__Program_Enrollment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
