force-app/main/default/flows/PE_Optional_Groups_Cap_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>Calculadora Final: Primitive Extraction Strategy (Bypasses SObject Validation).</description>
    <label>PE Optional Groups Cap Subflow</label>
    <processType>AutoLaunchedFlow</processType>

    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_All_Plan_Requirements</targetReference>
        </connector>
    </start>

    <variables>
        <name>var_PlanID</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
    </variables>
    <variables>
        <name>var_PEID</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
    </variables>
    <variables>
        <name>var_TotalCredits</name>
        <dataType>Number</dataType>
        <scale>2</scale>
        <value><numberValue>0.0</numberValue></value>
        <isOutput>true</isOutput>
    </variables>

    <variables>
        <name>v_Current_CourseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
    </variables>
    <variables>
        <name>v_Current_Credits</name>
        <dataType>Number</dataType>
        <scale>2</scale>
        <isCollection>false</isCollection>
    </variables>

    <variables>
        <name>val_Temp_ParentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
    </variables>
    <variables>
        <name>val_Temp_TargetCourseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
    </variables>

    <variables>
        <name>col_Parents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>hed__Plan_Requirement__c</objectType>
    </variables>
    
    <variables>
        <name>txt_UsedEnrollmentIDs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <value>
            <stringValue>;</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_GroupSum</name>
        <dataType>Number</dataType>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_BucketSum</name>
        <dataType>Number</dataType>
        <scale>2</scale>
        <value><numberValue>0.0</numberValue></value>
    </variables>

    <formulas>
        <name>form_IsAvailable</name>
        <dataType>Boolean</dataType>
        <expression>NOT(CONTAINS({!txt_UsedEnrollmentIDs}, {!v_Current_CourseID}))</expression>
    </formulas>
    <formulas>
        <name>form_GroupCap</name>
        <dataType>Number</dataType>
        <scale>2</scale>
        <expression>MIN({!var_GroupSum}, {!Loop_SubJefes.hed__Credits__c})</expression>
    </formulas>

    <recordLookups>
        <name>Get_All_Plan_Requirements</name>
        <label>Get All Requirements</label>
        <locationX>176</locationX>
        <locationY>150</locationY>
        <connector>
            <targetReference>Get_Valid_Enrollments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Program_Plan__c</field>
            <operator>EqualTo</operator>
            <value><elementReference>var_PlanID</elementReference></value>
        </filters>
        <object>hed__Plan_Requirement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <recordLookups>
        <name>Get_Valid_Enrollments</name>
        <label>Get Enrollments</label>
        <locationX>176</locationX>
        <locationY>250</locationY>
        <connector>
            <targetReference>Loop_Separate_Parents_Kids</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>hed__Program_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value><elementReference>var_PEID</elementReference></value>
        </filters>
        <filters>
            <field>Notations__c</field>
            <operator>EqualTo</operator>
            <value><stringValue>R</stringValue></value>
        </filters>
        <filters>
            <field>Notations__c</field>
            <operator>EqualTo</operator>
            <value><stringValue>EQV</stringValue></value>
        </filters>
        <filters>
            <field>Notations__c</field>
            <operator>EqualTo</operator>
            <value><stringValue>Transfer</stringValue></value>
        </filters>
        <object>hed__Course_Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <loops>
        <name>Loop_Separate_Parents_Kids</name>
        <label>Split Parents and Kids</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_All_Plan_Requirements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Extract_Parent_Check_Var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_SubJefes</targetReference>
        </noMoreValuesConnector>
    </loops>

    <loops>
        <name>Loop_SubJefes</name>
        <label>Loop Parents</label>
        <locationX>176</locationX>
        <locationY>750</locationY>
        <collectionReference>col_Parents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Skip_Bucket</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Bucket_Final</targetReference>
        </noMoreValuesConnector>
    </loops>

    <loops>
        <name>Loop_Check_Direct</name>
        <label>Check Enrollments (Direct)</label>
        <locationX>400</locationX>
        <locationY>1150</locationY>
        <collectionReference>Get_Valid_Enrollments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Flatten_Direct_Data</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_SubJefes</targetReference>
        </noMoreValuesConnector>
    </loops>

    <loops>
        <name>Loop_Scan_Children</name>
        <label>Find Children</label>
        <locationX>400</locationX>
        <locationY>1100</locationY>
        <collectionReference>Get_All_Plan_Requirements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Extract_Child_Check_Var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Group_Final</targetReference>
        </noMoreValuesConnector>
    </loops>

    <loops>
        <name>Loop_Check_Enr_Child</name>
        <label>Check Enrollments (Child)</label>
        <locationX>700</locationX>
        <locationY>1400</locationY>
        <collectionReference>Get_Valid_Enrollments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Flatten_Child_Data</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Scan_Children</targetReference>
        </noMoreValuesConnector>
    </loops>

    <loops>
        <name>Loop_Bucket_Final</name>
        <label>Bucket Final</label>
        <locationX>176</locationX>
        <locationY>1900</locationY>
        <collectionReference>Get_Valid_Enrollments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Flatten_Bucket_Data</targetReference>
        </nextValueConnector>
    </loops>

    <decisions>
        <name>Decision_Is_Parent</name>
        <label>Is Parent?</label>
        <locationX>300</locationX>
        <locationY>550</locationY>
        <defaultConnector>
            <targetReference>Loop_Separate_Parents_Kids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Child</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Parent_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>val_Temp_ParentID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>true</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Add_To_Parents</targetReference>
            </connector>
            <label>Yes Parent</label>
        </rules>
    </decisions>

    <decisions>
        <name>Decision_Skip_Bucket</name>
        <label>Is Bucket?</label>
        <locationX>300</locationX>
        <locationY>850</locationY>
        <defaultConnector>
            <targetReference>Decision_Direct_Or_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Process</defaultConnectorLabel>
        <rules>
            <name>Yes_Bucket_Skip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_SubJefes.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue><stringValue>12 unités</stringValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_SubJefes</targetReference>
            </connector>
            <label>Yes Skip</label>
        </rules>
    </decisions>

    <decisions>
        <name>Decision_Direct_Or_Group</name>
        <label>Direct or Group?</label>
        <locationX>300</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Reset_Group_Vars</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Group</defaultConnectorLabel>
        <rules>
            <name>Is_Direct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_SubJefes.hed__Course__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Target_Direct</targetReference>
            </connector>
            <label>Direct</label>
        </rules>
    </decisions>

    <decisions>
        <name>Decision_Match_Direct</name>
        <label>Match?</label>
        <locationX>600</locationX>
        <locationY>1350</locationY>
        <defaultConnector>
            <targetReference>Loop_Check_Direct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Match_Direct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_Current_CourseID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><elementReference>val_Temp_TargetCourseID</elementReference></rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Direct_Sum</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>

    <decisions>
        <name>Decision_Is_My_Child</name>
        <label>Is My Child?</label>
        <locationX>500</locationX>
        <locationY>1200</locationY>
        <defaultConnector>
            <targetReference>Loop_Scan_Children</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Child</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>val_Temp_ParentID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><elementReference>Loop_SubJefes.Id</elementReference></rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Target_Child</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>

    <decisions>
        <name>Decision_Match_Child</name>
        <label>Match Child?</label>
        <locationX>900</locationX>
        <locationY>1600</locationY>
        <defaultConnector>
            <targetReference>Loop_Check_Enr_Child</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Match_Child</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_Current_CourseID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><elementReference>val_Temp_TargetCourseID</elementReference></rightValue>
            </conditions>
            <conditions>
                <leftValueReference>form_IsAvailable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><booleanValue>true</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Child_Sum</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>

    <decisions>
        <name>Decision_Is_Used</name>
        <label>Available?</label>
        <locationX>400</locationX>
        <locationY>2100</locationY>
        <defaultConnector>
            <targetReference>Loop_Bucket_Final</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Used</defaultConnectorLabel>
        <rules>
            <name>Yes_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>form_IsAvailable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><booleanValue>true</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Bucket_Full</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>

    <decisions>
        <name>Decision_Bucket_Full</name>
        <label>Full?</label>
        <locationX>500</locationX>
        <locationY>2200</locationY>
        <defaultConnector>
            <targetReference>Add_Bucket_Sum</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Full</defaultConnectorLabel>
        <rules>
            <name>Yes_Full</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_BucketSum</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue><numberValue>12.0</numberValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Bucket_Final</targetReference>
            </connector>
            <label>Full</label>
        </rules>
    </decisions>

    <assignments>
        <name>Extract_Parent_Check_Var</name>
        <label>Extract Parent ID</label>
        <locationX>176</locationX>
        <locationY>450</locationY>
        <assignmentItems>
            <assignToReference>val_Temp_ParentID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Separate_Parents_Kids.hed__Plan_Requirement__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Is_Parent</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Add_To_Parents</name>
        <label>Add To Parents Col</label>
        <locationX>400</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>col_Parents</assignToReference>
            <operator>Add</operator>
            <value><elementReference>Loop_Separate_Parents_Kids</elementReference></value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Separate_Parents_Kids</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Set_Target_Direct</name>
        <label>Set Target ID</label>
        <locationX>400</locationX>
        <locationY>1050</locationY>
        <assignmentItems>
            <assignToReference>val_Temp_TargetCourseID</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Loop_SubJefes.hed__Course__c</elementReference></value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Check_Direct</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Flatten_Direct_Data</name>
        <label>Extract to Vars</label>
        <locationX>500</locationX>
        <locationY>1250</locationY>
        <assignmentItems>
            <assignToReference>v_Current_CourseID</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Loop_Check_Direct.hed__Course__c</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Current_Credits</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Loop_Check_Direct.hed__Credits_Earned__c</elementReference></value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Match_Direct</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Add_Direct_Sum</name>
        <label>Add Sum</label>
        <locationX>700</locationX>
        <locationY>1450</locationY>
        <assignmentItems>
            <assignToReference>var_TotalCredits</assignToReference>
            <operator>Add</operator>
            <value><elementReference>Loop_SubJefes.hed__Credits__c</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_UsedEnrollmentIDs</assignToReference>
            <operator>Add</operator>
            <value><elementReference>v_Current_CourseID</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_UsedEnrollmentIDs</assignToReference>
            <operator>Add</operator>
            <value><stringValue>;</stringValue></value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_SubJefes</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Reset_Group_Vars</name>
        <label>Reset Group</label>
        <locationX>400</locationX>
        <locationY>1000</locationY>
        <assignmentItems>
            <assignToReference>var_GroupSum</assignToReference>
            <operator>Assign</operator>
            <value><numberValue>0.0</numberValue></value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Scan_Children</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Extract_Child_Check_Var</name>
        <label>Extract Child ParentID</label>
        <locationX>400</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>val_Temp_ParentID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Scan_Children.hed__Plan_Requirement__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Is_My_Child</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Set_Target_Child</name>
        <label>Set Child Target</label>
        <locationX>600</locationX>
        <locationY>1300</locationY>
        <assignmentItems>
            <assignToReference>val_Temp_TargetCourseID</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Loop_Scan_Children.hed__Course__c</elementReference></value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Check_Enr_Child</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Flatten_Child_Data</name>
        <label>Extract to Vars</label>
        <locationX>800</locationX>
        <locationY>1500</locationY>
        <assignmentItems>
            <assignToReference>v_Current_CourseID</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Loop_Check_Enr_Child.hed__Course__c</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Current_Credits</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Loop_Check_Enr_Child.hed__Credits_Earned__c</elementReference></value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Match_Child</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Add_Child_Sum</name>
        <label>Add Child Sum</label>
        <locationX>1000</locationX>
        <locationY>1700</locationY>
        <assignmentItems>
            <assignToReference>var_GroupSum</assignToReference>
            <operator>Add</operator>
            <value><elementReference>v_Current_Credits</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_UsedEnrollmentIDs</assignToReference>
            <operator>Add</operator>
            <value><elementReference>v_Current_CourseID</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_UsedEnrollmentIDs</assignToReference>
            <operator>Add</operator>
            <value><stringValue>;</stringValue></value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Scan_Children</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Assign_Group_Final</name>
        <label>Add Group to Total</label>
        <locationX>500</locationX>
        <locationY>1800</locationY>
        <assignmentItems>
            <assignToReference>var_TotalCredits</assignToReference>
            <operator>Add</operator>
            <value><elementReference>form_GroupCap</elementReference></value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_SubJefes</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Flatten_Bucket_Data</name>
        <label>Extract to Vars</label>
        <locationX>300</locationX>
        <locationY>2000</locationY>
        <assignmentItems>
            <assignToReference>v_Current_CourseID</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Loop_Bucket_Final.hed__Course__c</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Current_Credits</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Loop_Bucket_Final.hed__Credits_Earned__c</elementReference></value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Is_Used</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Add_Bucket_Sum</name>
        <label>Add Bucket</label>
        <locationX>600</locationX>
        <locationY>2300</locationY>
        <assignmentItems>
            <assignToReference>var_BucketSum</assignToReference>
            <operator>Add</operator>
            <value><elementReference>v_Current_Credits</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TotalCredits</assignToReference>
            <operator>Add</operator>
            <value><elementReference>v_Current_Credits</elementReference></value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Bucket_Final</targetReference>
        </connector>
    </assignments>

</Flow>