force-app/main/default/flows/Update_Checkbox_Organization_Account_to_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>When the checkbox of the organization changes</description>
        <name>Checkbox_Org_changed</name>
        <label>Checkbox Org changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checkbox_OrgOutcome_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AEBEQ__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.AEBEQ__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SEMBEQ__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SEMBEQ__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ID_Prodon__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ID_Prodon__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_checkbox_Organizational_Contact</targetReference>
            </connector>
            <label>Checkbox OrgOutcome Changed</label>
        </rules>
    </decisions>
    <description>Update Checkbox Organization ID Prodon Account to Contact when updated</description>
    <environments>Default</environments>
    <interviewLabel>Update checkbox Organization Contact to Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Checkbox Organization ID Prodon Account to Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_checkbox_Organizational_Contact</name>
        <label>Update checkbox Organizational Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AEBEQ_Update_Checkbox_in_account__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.AEBEQ__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SEMBEQ_Update_Checkbox_in_account__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.SEMBEQ__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ID_Prodon_contact__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.ID_Prodon__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AEBEQ_Update_Checkbox_in_account__c</field>
            <value>
                <elementReference>$Record.AEBEQ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ID_Prodon_contact__c</field>
            <value>
                <elementReference>$Record.ID_Prodon__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SEMBEQ_Update_Checkbox_in_account__c</field>
            <value>
                <elementReference>$Record.SEMBEQ__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contacts</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checkbox_Org_changed</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
