force-app/main/default/flows/backup enero 7/PE_Optional_Groups_Cap_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Accumulate_Totals</name>
        <label>Accumulate Totals</label>
        <locationX>100</locationX>
        <locationY>400</locationY>
        <assignmentItems>
            <assignToReference>varOptTotalRaw</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varGroupRaw</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOptTotalCapped</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varGroupCapped</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Parents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CE_Add</name>
        <label>CE Add</label>
        <locationX>1600</locationX>
        <locationY>760</locationY>
        <assignmentItems>
            <assignToReference>varGroupRaw</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCE.hed__Credits_Attempted__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Group_Totals</name>
        <label>Reset Group Totals</label>
        <locationX>350</locationX>
        <locationY>420</locationY>
        <assignmentItems>
            <assignToReference>varGroupRaw</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGroupCapped</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGroupCap</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varParent.hed__Credits__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_CE_for_PE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Totals</name>
        <label>Reset Totals</label>
        <locationX>100</locationX>
        <locationY>120</locationY>
        <assignmentItems>
            <assignToReference>varOptTotalRaw</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOptTotalCapped</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Optional_Parents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Group_Capped_To_Cap</name>
        <label>Set Group Capped To Cap</label>
        <locationX>350</locationX>
        <locationY>860</locationY>
        <assignmentItems>
            <assignToReference>varGroupCapped</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varGroupCap</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Accumulate_Totals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Outputs</name>
        <label>Set Outputs</label>
        <locationX>100</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>outOptionalRaw</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOptTotalRaw</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outOptionalCapped</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOptTotalCapped</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Zero_And_End</name>
        <label>Set Zero And End</label>
        <locationX>80</locationX>
        <locationY>180</locationY>
        <assignmentItems>
            <assignToReference>outOptionalRaw</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outOptionalCapped</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CE_Course_Equals_AnyListed</name>
        <label>CE Course Equals Any Listed</label>
        <locationX>1350</locationX>
        <locationY>760</locationY>
        <defaultConnector>
            <targetReference>CE_Add</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default - Not Listed Anywhere (Add)</defaultConnectorLabel>
        <rules>
            <name>Is_Listed</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>varCE.hed__Course_Offering__r.hed__Course__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varLeaf.hed__Course__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_CE</targetReference>
            </connector>
            <label>Is Listed</label>
        </rules>
    </decisions>
    <decisions>
        <name>CE_Course_Equals_Leaf</name>
        <label>CE Course Equals Leaf</label>
        <locationX>1350</locationX>
        <locationY>660</locationY>
        <defaultConnector>
            <targetReference>Try_Match_Listed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default - Keep Trying Listed</defaultConnectorLabel>
        <rules>
            <name>Equals</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>varCE.hed__Course_Offering__r.hed__Course__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varLeaf.hed__Course__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CE_Add</targetReference>
            </connector>
            <label>Equals</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_Listed_Or_Free</name>
        <label>Decide Listed Or Free</label>
        <locationX>950</locationX>
        <locationY>660</locationY>
        <defaultConnector>
            <targetReference>Try_Match_Listed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default - Try Match Listed</defaultConnectorLabel>
        <rules>
            <name>Is_Free_Group</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>varLeafProbe.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varGroupCap</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Try_Match_In_All_Listed</targetReference>
            </connector>
            <label>Is Free Group</label>
        </rules>
    </decisions>
    <decisions>
        <name>Group_Cap_Check</name>
        <label>Group Cap Check</label>
        <locationX>350</locationX>
        <locationY>760</locationY>
        <defaultConnector>
            <targetReference>Accumulate_Totals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default - Within Cap</defaultConnectorLabel>
        <rules>
            <name>Over_Cap</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>varGroupRaw</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varGroupCap</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Group_Capped_To_Cap</targetReference>
            </connector>
            <label>Over Cap</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Inputs</name>
        <label>Validate Inputs</label>
        <locationX>80</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>Reset_Totals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OK</defaultConnectorLabel>
        <rules>
            <name>Missing_Any</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>in_PEId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>in_PlanId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Zero_And_End</targetReference>
            </connector>
            <label>Missing Any</label>
        </rules>
    </decisions>
    <label>PE_Optional_Groups_Cap_Subflow</label>
    <loops>
        <name>Loop_CE</name>
        <label>Loop CEs</label>
        <locationX>350</locationX>
        <locationY>660</locationY>
        <assignNextValueToReference>varCE</assignNextValueToReference>
        <collectionReference>colCEs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decide_Listed_Or_Free</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Group_Cap_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Parents</name>
        <label>Loop Parents</label>
        <locationX>100</locationX>
        <locationY>340</locationY>
        <assignNextValueToReference>varParent</assignNextValueToReference>
        <collectionReference>colParentOptReqs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Child_Leafs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Outputs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Try_Match_In_All_Listed</name>
        <label>Try Match In All Listed</label>
        <locationX>1100</locationX>
        <locationY>760</locationY>
        <assignNextValueToReference>varLeaf</assignNextValueToReference>
        <collectionReference>colAllListedLeafReqs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CE_Course_Equals_AnyListed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CE_Add</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Try_Match_Listed</name>
        <label>Try Match Listed</label>
        <locationX>1100</locationX>
        <locationY>660</locationY>
        <assignNextValueToReference>varLeaf</assignNextValueToReference>
        <collectionReference>colChildLeafReqs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CE_Course_Equals_Leaf</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_CE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Listed_Leaves</name>
        <label>Get All Listed Leafs</label>
        <locationX>100</locationX>
        <locationY>260</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Parents</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>hed__Program_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>in_PlanId</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__Course__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>hed__Plan_Requirement__c</object>
        <outputReference>colAllListedLeafReqs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>hed__Course__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_CE_for_PE</name>
        <label>Get Valid CEs for PE</label>
        <locationX>350</locationX>
        <locationY>560</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_CE</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4) AND 5</filterLogic>
        <filters>
            <field>hed__Program_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>in_PEId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Notations__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>R</stringValue>
            </value>
        </filters>
        <filters>
            <field>Notations__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EQV</stringValue>
            </value>
        </filters>
        <filters>
            <field>Notations__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TRANSF</stringValue>
            </value>
        </filters>
        <filters>
            <field>hed__Credits_Attempted__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>hed__Course_Enrollment__c</object>
        <outputReference>colCEs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>hed__Credits_Attempted__c</queriedFields>
        <queriedFields>hed__Course_Offering__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Child_Leaf_Any</name>
        <label>Probe Any Child Leaf</label>
        <locationX>350</locationX>
        <locationY>380</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reset_Group_Totals</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>hed__Plan_Requirement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParent.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__Course__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>hed__Plan_Requirement__c</object>
        <outputReference>varLeafProbe</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Child_Leafs</name>
        <label>Get Child Leafs</label>
        <locationX>350</locationX>
        <locationY>300</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Child_Leaf_Any</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>hed__Plan_Requirement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParent.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__Course__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>hed__Plan_Requirement__c</object>
        <outputReference>colChildLeafReqs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>hed__Course__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Optional_Parents</name>
        <label>Get Optional Parents</label>
        <locationX>100</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Listed_Leaves</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>hed__Program_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>in_PlanId</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__Plan_Requirement__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>hed__Plan_Requirement__c</object>
        <outputReference>colParentOptReqs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>hed__Credits__c</queriedFields>
    </recordLookups>
    <startElementReference>Validate_Inputs</startElementReference>
    <status>Active</status>
    <variables>
        <name>colAllListedLeafReqs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Plan_Requirement__c</objectType>
    </variables>
    <variables>
        <name>colCEs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>colChildLeafReqs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Plan_Requirement__c</objectType>
    </variables>
    <variables>
        <name>colParentOptReqs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Plan_Requirement__c</objectType>
    </variables>
    <variables>
        <name>in_PEId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>in_PlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outOptionalCapped</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>outOptionalRaw</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>varCE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>varGroupCap</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>varGroupCapped</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>varGroupRaw</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>varLeaf</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Plan_Requirement__c</objectType>
    </variables>
    <variables>
        <name>varLeafProbe</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Plan_Requirement__c</objectType>
    </variables>
    <variables>
        <name>varOptTotalCapped</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>varOptTotalRaw</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>varParent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Plan_Requirement__c</objectType>
    </variables>
</Flow>
