force-app/main/default/flows/backup enero 7/PE_Optional_Groups_Cap_Subflow.flow-metabackup con duplicados.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
  <apiVersion>64.0</apiVersion>
  <label>PE_Optional_Groups_Cap_Subflow</label>
  <processType>AutoLaunchedFlow</processType>
  <status>Active</status>

  <!-- ===================== VARIABLES ===================== -->
  <variables><name>in_PEId</name><dataType>String</dataType><isCollection>false</isCollection><isInput>true</isInput><isOutput>false</isOutput></variables>
  <variables><name>in_PlanId</name><dataType>String</dataType><isCollection>false</isCollection><isInput>true</isInput><isOutput>false</isOutput></variables>
  <variables><name>outOptionalRaw</name><dataType>Number</dataType><scale>3</scale><isCollection>false</isCollection><isInput>false</isInput><isOutput>true</isOutput></variables>
  <variables><name>outOptionalCapped</name><dataType>Number</dataType><scale>3</scale><isCollection>false</isCollection><isInput>false</isInput><isOutput>true</isOutput></variables>

  <!-- Work -->
  <variables><name>varOptTotalRaw</name><dataType>Number</dataType><scale>3</scale></variables>
  <variables><name>varOptTotalCapped</name><dataType>Number</dataType><scale>3</scale></variables>
  <variables><name>varGroupRaw</name><dataType>Number</dataType><scale>3</scale></variables>
  <variables><name>varGroupCapped</name><dataType>Number</dataType><scale>3</scale></variables>
  <variables><name>varGroupCap</name><dataType>Number</dataType><scale>3</scale></variables>

  <!-- Collections/Holders -->
  <variables><name>colParentOptReqs</name><dataType>SObject</dataType><isCollection>true</isCollection><objectType>hed__Plan_Requirement__c</objectType></variables>
  <variables><name>colChildLeafReqs</name><dataType>SObject</dataType><isCollection>true</isCollection><objectType>hed__Plan_Requirement__c</objectType></variables>
  <variables><name>colCEs</name><dataType>SObject</dataType><isCollection>true</isCollection><objectType>hed__Course_Enrollment__c</objectType></variables>

  <variables><name>varParent</name><dataType>SObject</dataType><objectType>hed__Plan_Requirement__c</objectType></variables>
  <variables><name>varLeaf</name><dataType>SObject</dataType><objectType>hed__Plan_Requirement__c</objectType></variables>
  <variables><name>varLeafProbe</name><dataType>SObject</dataType><objectType>hed__Plan_Requirement__c</objectType></variables>

  <variables><name>varCE</name><dataType>SObject</dataType><objectType>hed__Course_Enrollment__c</objectType></variables>
  <variables><name>varOffering</name><dataType>SObject</dataType><objectType>hed__Course_Offering__c</objectType></variables>

  <!-- ===================== RECORD LOOKUPS ===================== -->
  <!-- Padres: del PP, sin padre -->
  <recordLookups>
    <name>Get_Optional_Parents</name>
    <label>Get Optional Parents</label>
    <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
    <filterLogic>1 AND 2</filterLogic>
    <filters>
      <field>hed__Program_Plan__c</field><operator>EqualTo</operator>
      <value><elementReference>in_PlanId</elementReference></value>
    </filters>
    <filters>
      <field>hed__Plan_Requirement__c</field><operator>IsNull</operator>
      <value><booleanValue>true</booleanValue></value>
    </filters>
    <object>hed__Plan_Requirement__c</object>
    <outputReference>colParentOptReqs</outputReference>
    <queriedFields>Id</queriedFields>
    <queriedFields>Name</queriedFields>
    <queriedFields>hed__Credits__c</queriedFields>
    <connector><targetReference>Loop_Parents</targetReference></connector>
    <locationX>100</locationX><locationY>120</locationY>
  </recordLookups>

  <!-- Hijas/hojas: del padre actual, con Course poblado -->
  <recordLookups>
    <name>Get_Child_Leafs</name>
    <label>Get Child Leafs</label>
    <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
    <filterLogic>1 AND 2</filterLogic>
    <filters>
      <field>hed__Plan_Requirement__c</field><operator>EqualTo</operator>
      <value><elementReference>varParent.Id</elementReference></value>
    </filters>
    <filters>
      <field>hed__Course__c</field><operator>IsNull</operator>
      <value><booleanValue>false</booleanValue></value>
    </filters>
    <object>hed__Plan_Requirement__c</object>
    <outputReference>colChildLeafReqs</outputReference>
    <queriedFields>Id</queriedFields>
    <queriedFields>hed__Course__c</queriedFields>
    <connector><targetReference>Get_Child_Leaf_Any</targetReference></connector>
    <locationX>350</locationX><locationY>220</locationY>
  </recordLookups>

  <!-- Sonda para saber si el padre tiene hojas listadas; si no, es “libre” -->
  <recordLookups>
    <name>Get_Child_Leaf_Any</name>
    <label>Probe Any Child Leaf</label>
    <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
    <getFirstRecordOnly>true</getFirstRecordOnly>
    <filterLogic>1 AND 2</filterLogic>
    <filters>
      <field>hed__Plan_Requirement__c</field><operator>EqualTo</operator>
      <value><elementReference>varParent.Id</elementReference></value>
    </filters>
    <filters>
      <field>hed__Course__c</field><operator>IsNull</operator>
      <value><booleanValue>false</booleanValue></value>
    </filters>
    <object>hed__Plan_Requirement__c</object>
    <outputReference>varLeafProbe</outputReference>
    <queriedFields>Id</queriedFields>
    <connector><targetReference>Reset_Group_Totals</targetReference></connector>
    <locationX>350</locationX><locationY>320</locationY>
  </recordLookups>

  <!-- CEs válidos del PE -->
  <recordLookups>
    <name>Get_CE_for_PE</name>
    <label>Get Valid CEs for PE</label>
    <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
    <filterLogic>1 AND (2 OR 3 OR 4) AND 5</filterLogic>
    <filters>
      <field>hed__Program_Enrollment__c</field><operator>EqualTo</operator>
      <value><elementReference>in_PEId</elementReference></value>
    </filters>
    <filters><field>Notations__c</field><operator>EqualTo</operator><value><stringValue>R</stringValue></value></filters>
    <filters><field>Notations__c</field><operator>EqualTo</operator><value><stringValue>EQV</stringValue></value></filters>
    <filters><field>Notations__c</field><operator>EqualTo</operator><value><stringValue>TRANSF</stringValue></value></filters>
    <filters>
      <field>hed__Credits_Attempted__c</field><operator>IsNull</operator>
      <value><booleanValue>false</booleanValue></value>
    </filters>
    <object>hed__Course_Enrollment__c</object>
    <outputReference>colCEs</outputReference>
    <queriedFields>Id</queriedFields>
    <queriedFields>hed__Credits_Attempted__c</queriedFields>
    <queriedFields>hed__Course_Offering__c</queriedFields>
    <connector><targetReference>Loop_CE</targetReference></connector>
    <locationX>350</locationX><locationY>520</locationY>
  </recordLookups>

  <!-- Offering → Course -->
  <recordLookups>
    <name>Get_Offering</name>
    <label>Get Offering</label>
    <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
    <getFirstRecordOnly>true</getFirstRecordOnly>
    <object>hed__Course_Offering__c</object>
    <filters>
      <field>Id</field><operator>EqualTo</operator>
      <value><elementReference>varCE.hed__Course_Offering__c</elementReference></value>
    </filters>
    <outputReference>varOffering</outputReference>
    <queriedFields>Id</queriedFields>
    <queriedFields>hed__Course__c</queriedFields>
    <connector><targetReference>Decide_Listed_Or_Free</targetReference></connector>
    <locationX>600</locationX><locationY>620</locationY>
  </recordLookups>

  <!-- ===================== DECISIONS ===================== -->
  <decisions>
    <name>Decide_Listed_Or_Free</name>
    <label>Decide Listed Or Free</label>
    <defaultConnector><targetReference>Try_Match_Listed</targetReference></defaultConnector>
    <defaultConnectorLabel>Default - Try Match Listed</defaultConnectorLabel>
    <rules>
      <name>Is_Free_Group</name>
      <label>Is Free Group</label>
      <conditionLogic>1 AND 2</conditionLogic>
      <conditions>
        <leftValueReference>varLeafProbe.Id</leftValueReference>
        <operator>IsNull</operator>
        <rightValue><booleanValue>true</booleanValue></rightValue>
      </conditions>
      <conditions>
        <leftValueReference>varGroupCap</leftValueReference>
        <operator>GreaterThan</operator>
        <rightValue><numberValue>0</numberValue></rightValue>
      </conditions>
      <connector><targetReference>CE_Add</targetReference></connector>
    </rules>
    <locationX>850</locationX><locationY>620</locationY>
  </decisions>

  <decisions>
    <name>CE_Course_Equals_Leaf</name>
    <label>CE Course Equals Leaf</label>
    <defaultConnector><targetReference>Try_Match_Listed</targetReference></defaultConnector>
    <defaultConnectorLabel>Default - Keep Trying Listed</defaultConnectorLabel>
    <rules>
      <name>Equals</name>
      <label>Equals</label>
      <conditionLogic>1</conditionLogic>
      <conditions>
        <leftValueReference>varOffering.hed__Course__c</leftValueReference>
        <operator>EqualTo</operator>
        <rightValue><elementReference>varLeaf.hed__Course__c</elementReference></rightValue>
      </conditions>
      <connector><targetReference>CE_Add</targetReference></connector>
    </rules>
    <locationX>1350</locationX><locationY>620</locationY>
  </decisions>

  <decisions>
    <name>Group_Cap_Check</name>
    <label>Group Cap Check</label>
    <defaultConnector><targetReference>Accumulate_Totals</targetReference></defaultConnector>
    <defaultConnectorLabel>Default - Within Cap</defaultConnectorLabel>
    <rules>
      <name>Over_Cap</name>
      <label>Over Cap</label>
      <conditionLogic>1</conditionLogic>
      <conditions>
        <leftValueReference>varGroupRaw</leftValueReference>
        <operator>GreaterThan</operator>
        <rightValue><elementReference>varGroupCap</elementReference></rightValue>
      </conditions>
      <connector><targetReference>Set_Group_Capped_To_Cap</targetReference></connector>
    </rules>
    <locationX>350</locationX><locationY>720</locationY>
  </decisions>

  <!-- ===================== LOOPS ===================== -->
  <loops>
    <name>Loop_Parents</name>
    <label>Loop Parents</label>
    <collectionReference>colParentOptReqs</collectionReference>
    <iterationOrder>Asc</iterationOrder>
    <assignNextValueToReference>varParent</assignNextValueToReference>
    <nextValueConnector><targetReference>Get_Child_Leafs</targetReference></nextValueConnector>
    <noMoreValuesConnector><targetReference>Set_Outputs</targetReference></noMoreValuesConnector>
    <locationX>100</locationX><locationY>220</locationY>
  </loops>

  <loops>
    <name>Loop_CE</name>
    <label>Loop CEs</label>
    <collectionReference>colCEs</collectionReference>
    <iterationOrder>Asc</iterationOrder>
    <assignNextValueToReference>varCE</assignNextValueToReference>
    <nextValueConnector><targetReference>Get_Offering</targetReference></nextValueConnector>
    <noMoreValuesConnector><targetReference>Group_Cap_Check</targetReference></noMoreValuesConnector>
    <locationX>350</locationX><locationY>620</locationY>
  </loops>

  <loops>
    <name>Try_Match_Listed</name>
    <label>Try Match Listed</label>
    <collectionReference>colChildLeafReqs</collectionReference>
    <iterationOrder>Asc</iterationOrder>
    <assignNextValueToReference>varLeaf</assignNextValueToReference>
    <nextValueConnector><targetReference>CE_Course_Equals_Leaf</targetReference></nextValueConnector>
    <noMoreValuesConnector><targetReference>Loop_CE</targetReference></noMoreValuesConnector>
    <locationX>1100</locationX><locationY>620</locationY>
  </loops>

  <!-- ===================== ASSIGNMENTS ===================== -->
  <assignments>
    <name>Reset_Totals</name>
    <label>Reset Totals</label>
    <assignmentItems>
      <assignToReference>varOptTotalRaw</assignToReference><operator>Assign</operator><value><numberValue>0.0</numberValue></value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>varOptTotalCapped</assignToReference><operator>Assign</operator><value><numberValue>0.0</numberValue></value>
    </assignmentItems>
    <connector><targetReference>Get_Optional_Parents</targetReference></connector>
    <locationX>100</locationX><locationY>20</locationY>
  </assignments>

  <assignments>
    <name>Reset_Group_Totals</name>
    <label>Reset Group Totals</label>
    <assignmentItems>
      <assignToReference>varGroupRaw</assignToReference><operator>Assign</operator><value><numberValue>0.0</numberValue></value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>varGroupCapped</assignToReference><operator>Assign</operator><value><numberValue>0.0</numberValue></value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>varGroupCap</assignToReference><operator>Assign</operator><value><elementReference>varParent.hed__Credits__c</elementReference></value>
    </assignmentItems>
    <connector><targetReference>Get_CE_for_PE</targetReference></connector>
    <locationX>350</locationX><locationY>420</locationY>
  </assignments>

  <assignments>
    <name>CE_Add</name>
    <label>CE Add</label>
    <assignmentItems>
      <assignToReference>varGroupRaw</assignToReference><operator>Add</operator><value><elementReference>varCE.hed__Credits_Attempted__c</elementReference></value>
    </assignmentItems>
    <connector><targetReference>Loop_CE</targetReference></connector>
    <locationX>1600</locationX><locationY>620</locationY>
  </assignments>

  <assignments>
    <name>Set_Group_Capped_To_Cap</name>
    <label>Set Group Capped To Cap</label>
    <assignmentItems>
      <assignToReference>varGroupCapped</assignToReference><operator>Assign</operator><value><elementReference>varGroupCap</elementReference></value>
    </assignmentItems>
    <connector><targetReference>Accumulate_Totals</targetReference></connector>
    <locationX>350</locationX><locationY>820</locationY>
  </assignments>

  <assignments>
    <name>Accumulate_Totals</name>
    <label>Accumulate Totals</label>
    <assignmentItems>
      <assignToReference>varOptTotalRaw</assignToReference><operator>Add</operator><value><elementReference>varGroupRaw</elementReference></value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>varOptTotalCapped</assignToReference><operator>Add</operator><value><elementReference>varGroupCapped</elementReference></value>
    </assignmentItems>
    <connector><targetReference>Loop_Parents</targetReference></connector>
    <locationX>100</locationX><locationY>320</locationY>
  </assignments>

  <assignments>
    <name>Set_Outputs</name>
    <label>Set Outputs</label>
    <assignmentItems>
      <assignToReference>outOptionalRaw</assignToReference><operator>Assign</operator><value><elementReference>varOptTotalRaw</elementReference></value>
    </assignmentItems>
    <assignmentItems>
      <assignToReference>outOptionalCapped</assignToReference><operator>Assign</operator><value><elementReference>varOptTotalCapped</elementReference></value>
    </assignmentItems>
    <locationX>100</locationX><locationY>420</locationY>
  </assignments>

  <!-- ===================== START ===================== -->
  <startElementReference>Reset_Totals</startElementReference>
</Flow>
