force-app/main/default/applications/Backup copy/PE_Recalculate_ByPlan_Orchestrator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AddAttempted</name>
        <label>AddAttempted</label>
        <locationX>2240</locationX>
        <locationY>120</locationY>
        <assignmentItems>
            <assignToReference>varTotalAttempted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCE.hed__Credits_Attempted__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCEs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CapPrep</name>
        <label>CapPrep</label>
        <locationX>2440</locationX>
        <locationY>120</locationY>
        <assignmentItems>
            <assignToReference>varCapPlan</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPlan.hed__Total_Required_Credits__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CapCheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CapToPlan</name>
        <label>CapToPlan</label>
        <locationX>2840</locationX>
        <locationY>120</locationY>
        <assignmentItems>
            <assignToReference>varTotalAttempted</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCapPlan</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatePE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CopyInputs</name>
        <label>CopyInputs</label>
        <locationX>360</locationX>
        <locationY>80</locationY>
        <assignmentItems>
            <assignToReference>colPlanIdsWork</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPlanIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colPeIdsWork</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPeIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colPlanIdsWork</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HasPeIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncCounter</name>
        <label>IncCounter</label>
        <locationX>3240</locationX>
        <locationY>120</locationY>
        <assignmentItems>
            <assignToReference>countProcessed</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BackToCaller</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init</name>
        <label>Init</label>
        <locationX>160</locationX>
        <locationY>80</locationY>
        <assignmentItems>
            <assignToReference>countProcessed</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CopyInputs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Totals</name>
        <label>Reset_Totals</label>
        <locationX>1320</locationX>
        <locationY>120</locationY>
        <assignmentItems>
            <assignToReference>varTotalAttempted</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCapPlan</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetPlanForPE</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>BackToCaller</name>
        <label>BackToCaller</label>
        <locationX>3440</locationX>
        <locationY>120</locationY>
        <defaultConnectorLabel>FromPlan</defaultConnectorLabel>
        <rules>
            <name>FromPlan</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>varPlanId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopPEsFromPlan</targetReference>
            </connector>
            <label>FromPlan</label>
        </rules>
        <rules>
            <name>FromPEList</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>varPeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopPEIds</targetReference>
            </connector>
            <label>FromPEList</label>
        </rules>
    </decisions>
    <decisions>
        <name>CapCheck</name>
        <label>CapCheck</label>
        <locationX>2640</locationX>
        <locationY>120</locationY>
        <defaultConnectorLabel>WithinCap</defaultConnectorLabel>
        <rules>
            <name>OverCap</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>varCapPlan</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTotalAttempted</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varCapPlan</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CapToPlan</targetReference>
            </connector>
            <label>OverCap</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasPeIds</name>
        <label>HasPeIds</label>
        <locationX>560</locationX>
        <locationY>80</locationY>
        <defaultConnectorLabel>NoPEs</defaultConnectorLabel>
        <rules>
            <name>YesPEs</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>colPeIdsWork</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopPEIds</targetReference>
            </connector>
            <label>YesPEs</label>
        </rules>
        <rules>
            <name>NoPEs</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>colPeIdsWork</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopPlanIds</targetReference>
            </connector>
            <label>NoPEs</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>PE_Recalculate_ByPlan_Orchestrator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PE_Recalculate_ByPlan_Orchestrator</label>
    <loops>
        <name>LoopCEs</name>
        <label>LoopCEs</label>
        <locationX>2040</locationX>
        <locationY>120</locationY>
        <assignNextValueToReference>varCE</assignNextValueToReference>
        <collectionReference>colCEs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddAttempted</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CapPrep</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopPEIds</name>
        <label>LoopPEIds</label>
        <locationX>760</locationX>
        <locationY>200</locationY>
        <assignNextValueToReference>varPeId</assignNextValueToReference>
        <collectionReference>colPeIdsWork</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetPEById</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>EndScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopPEsFromPlan</name>
        <label>LoopPEsFromPlan</label>
        <locationX>1160</locationX>
        <locationY>40</locationY>
        <assignNextValueToReference>varPE</assignNextValueToReference>
        <collectionReference>colPEsForPlan</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_Totals</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopPlanIds</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopPlanIds</name>
        <label>LoopPlanIds</label>
        <locationX>760</locationX>
        <locationY>40</locationY>
        <assignNextValueToReference>varPlanId</assignNextValueToReference>
        <collectionReference>colPlanIdsWork</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetPEsForPlan</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>EndScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCEsForPE</name>
        <label>GetCEsForPE</label>
        <locationX>1840</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopCEs</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4) AND 5</filterLogic>
        <filters>
            <field>hed__Program_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPE.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Notations__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>R</stringValue>
            </value>
        </filters>
        <filters>
            <field>Notations__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EQV</stringValue>
            </value>
        </filters>
        <filters>
            <field>Notations__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TRANSF</stringValue>
            </value>
        </filters>
        <filters>
            <field>hed__Credits_Attempted__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>hed__Course_Enrollment__c</object>
        <outputReference>colCEs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>hed__Credits_Attempted__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetPEById</name>
        <label>GetPEById</label>
        <locationX>960</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reset_Totals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPeId</elementReference>
            </value>
        </filters>
        <object>hed__Program_Enrollment__c</object>
        <outputReference>varPE</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>hed__Program_Plan__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetPEsForPlan</name>
        <label>GetPEsForPlan</label>
        <locationX>960</locationX>
        <locationY>40</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopPEsFromPlan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Program_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPlanId</elementReference>
            </value>
        </filters>
        <object>hed__Program_Enrollment__c</object>
        <outputReference>colPEsForPlan</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetPlanForPE</name>
        <label>GetPlanForPE</label>
        <locationX>1440</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Call_Optional_Subflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPE.hed__Program_Plan__c</elementReference>
            </value>
        </filters>
        <object>hed__Program_Plan__c</object>
        <outputReference>varPlan</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>hed__Total_Required_Credits__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePE</name>
        <label>UpdatePE</label>
        <locationX>3040</locationX>
        <locationY>120</locationY>
        <connector>
            <targetReference>IncCounter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPE.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>hed__Credits_Earned__c</field>
            <value>
                <elementReference>varTotalAttempted</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Program_Enrollment__c</object>
    </recordUpdates>
    <screens>
        <name>EndScreen</name>
        <label>Done</label>
        <locationX>560</locationX>
        <locationY>300</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SummaryDisplay</name>
            <fieldText>Processed: {!countProcessed}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>40</locationX>
        <locationY>80</locationY>
        <connector>
            <targetReference>Init</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_Optional_Subflow</name>
        <label>Call_Optional_Subflow</label>
        <locationX>1640</locationX>
        <locationY>120</locationY>
        <connector>
            <targetReference>GetCEsForPE</targetReference>
        </connector>
        <flowName>PE_Optional_Groups_Cap_Subflow</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>colCEs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>colPeIdsWork</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colPEsForPlan</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Program_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>colPlanIdsWork</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>countProcessed</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCapPlan</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>varCE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>varPE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Program_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>varPeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPeIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Program_Plan__c</objectType>
    </variables>
    <variables>
        <name>varPlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPlanIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTotalAttempted</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
</Flow>
