force-app/main/default/flows/Backup 14 de enero/PE_Credits_Calculator_Validated_by_Plan_RT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Current</name>
        <label>Add_Current</label>
        <locationX>671</locationX>
        <locationY>508</locationY>
        <assignmentItems>
            <assignToReference>varTotalCurrent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCCCurrent.hed__Credits_Attempted__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CC_Current</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Prior</name>
        <label>Add_Prior</label>
        <locationX>1623</locationX>
        <locationY>562</locationY>
        <assignmentItems>
            <assignToReference>varTotalPrior</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCCPrior.hed__Credits_Attempted__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CC_Prior</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adjust_ComputeNonOptional</name>
        <label>Adjust_ComputeNonOptional</label>
        <locationX>943</locationX>
        <locationY>280</locationY>
        <assignmentItems>
            <assignToReference>varNonOptionalAttempted</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTotalCurrent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNonOptionalAttempted</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>varOptionalRaw</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adjust_RecomposeTotal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adjust_CopySubflowOutputs</name>
        <label>Adjust_CopySubflowOutputs</label>
        <locationX>943</locationX>
        <locationY>529</locationY>
        <assignmentItems>
            <assignToReference>varOptionalRaw</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sub_Opt.outOptionalRaw</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOptionalCapped</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sub_Opt.outOptionalCapped</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adjust_ComputeNonOptional</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adjust_RecomposeTotal</name>
        <label>Adjust_RecomposeTotal</label>
        <locationX>943</locationX>
        <locationY>87</locationY>
        <assignmentItems>
            <assignToReference>varTotalCurrent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNonOptionalAttempted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalCurrent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOptionalCapped</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Current_Exceeds_Cap</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adjust_SubflowFaultToZero</name>
        <label>Adjust_SubflowFaultToZero</label>
        <locationX>1157</locationX>
        <locationY>271</locationY>
        <assignmentItems>
            <assignToReference>varOptionalRaw</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOptionalCapped</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adjust_RecomposeTotal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cap_Current_Total</name>
        <label>Cap_Current_Total</label>
        <locationX>1351</locationX>
        <locationY>85</locationY>
        <assignmentItems>
            <assignToReference>varTotalCurrent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPlan_Current.hed__Total_Required_Credits__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PE_Current</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cap_Prior_Total</name>
        <label>Cap_Prior_Total</label>
        <locationX>1978</locationX>
        <locationY>548</locationY>
        <assignmentItems>
            <assignToReference>varTotalPrior</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPlan_Prior.hed__Total_Required_Credits__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PE_Prior</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Total_Current</name>
        <label>Reset_Total_Current</label>
        <locationX>526</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varTotalCurrent</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_CC_Current</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Total_Prior</name>
        <label>Reset_Total_Prior</label>
        <locationX>1490</locationX>
        <locationY>560</locationY>
        <assignmentItems>
            <assignToReference>varTotalPrior</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_CC_Prior</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Current_Exceeds_Cap</name>
        <label>Current_Exceeds_Cap</label>
        <locationX>1165</locationX>
        <locationY>80</locationY>
        <defaultConnectorLabel>WithinCap</defaultConnectorLabel>
        <rules>
            <name>OverCap</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>varPlan_Current.hed__Total_Required_Credits__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTotalCurrent</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varPlan_Current.hed__Total_Required_Credits__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cap_Current_Total</targetReference>
            </connector>
            <label>OverCap</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Current_PE</name>
        <label>Has_Current_PE</label>
        <locationX>205</locationX>
        <locationY>549</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Current</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Program_Enrollment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Total_Current</targetReference>
            </connector>
            <label>Yes_Current</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Different_Prior_PE</name>
        <label>Has_Different_Prior_PE</label>
        <locationX>1121</locationX>
        <locationY>547</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PriorChanged</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.hed__Program_Enrollment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.hed__Program_Enrollment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.hed__Program_Enrollment__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Total_Prior</targetReference>
            </connector>
            <label>Yes_PriorChanged</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prior_Exceeds_Cap</name>
        <label>Prior_Exceeds_Cap</label>
        <locationX>1787</locationX>
        <locationY>553</locationY>
        <defaultConnectorLabel>WithinCap</defaultConnectorLabel>
        <rules>
            <name>OverCapPrior</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>varPlan_Prior.hed__Total_Required_Credits__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTotalPrior</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varPlan_Prior.hed__Total_Required_Credits__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cap_Prior_Total</targetReference>
            </connector>
            <label>OverCapPrior</label>
        </rules>
    </decisions>
    <description>Canvas remake test2</description>
    <environments>Default</environments>
    <interviewLabel>PE_Credits_Calculator_Validated_by_Plan_RT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PE_Credits_Calculator_Validated_by_Plan_RT</label>
    <loops>
        <name>Loop_CC_Current</name>
        <label>Loop_CC_Current</label>
        <locationX>615</locationX>
        <locationY>77</locationY>
        <assignNextValueToReference>varCCCurrent</assignNextValueToReference>
        <collectionReference>colCCCurrent</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Current</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_PE_Current</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_CC_Prior</name>
        <label>Loop_CC_Prior</label>
        <locationX>1624</locationX>
        <locationY>88</locationY>
        <assignNextValueToReference>varCCPrior</assignNextValueToReference>
        <collectionReference>colCCPrior</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Prior</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_PE_Prior</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CC_Current</name>
        <label>Get_CC_Current</label>
        <locationX>424</locationX>
        <locationY>75</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_CC_Current</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4) AND 5</filterLogic>
        <filters>
            <field>hed__Program_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.hed__Program_Enrollment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Notations__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>R</stringValue>
            </value>
        </filters>
        <filters>
            <field>Notations__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EQV</stringValue>
            </value>
        </filters>
        <filters>
            <field>Notations__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TRANSF</stringValue>
            </value>
        </filters>
        <filters>
            <field>hed__Credits_Attempted__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>hed__Course_Enrollment__c</object>
        <outputReference>colCCCurrent</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>hed__Credits_Attempted__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_CC_Prior</name>
        <label>Get_CC_Prior</label>
        <locationX>1486</locationX>
        <locationY>88</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_CC_Prior</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4) AND 5</filterLogic>
        <filters>
            <field>hed__Program_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.hed__Program_Enrollment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Notations__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>R</stringValue>
            </value>
        </filters>
        <filters>
            <field>Notations__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EQV</stringValue>
            </value>
        </filters>
        <filters>
            <field>Notations__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TRANSF</stringValue>
            </value>
        </filters>
        <filters>
            <field>hed__Credits_Attempted__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>hed__Course_Enrollment__c</object>
        <outputReference>colCCPrior</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>hed__Credits_Attempted__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_PE_Current</name>
        <label>Get_PE_Current</label>
        <locationX>814</locationX>
        <locationY>81</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Plan_Current</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.hed__Program_Enrollment__c</elementReference>
            </value>
        </filters>
        <object>hed__Program_Enrollment__c</object>
        <outputReference>varPE_Current</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>hed__Program_Plan__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_PE_Prior</name>
        <label>Get_PE_Prior</label>
        <locationX>1796</locationX>
        <locationY>89</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Plan_Prior</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.hed__Program_Enrollment__c</elementReference>
            </value>
        </filters>
        <object>hed__Program_Enrollment__c</object>
        <outputReference>varPE_Prior</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>hed__Program_Plan__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Plan_Current</name>
        <label>Get_Plan_Current</label>
        <locationX>809</locationX>
        <locationY>295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sub_Opt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPE_Current.hed__Program_Plan__c</elementReference>
            </value>
        </filters>
        <object>hed__Program_Plan__c</object>
        <outputReference>varPlan_Current</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>hed__Total_Required_Credits__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Plan_Prior</name>
        <label>Get_Plan_Prior</label>
        <locationX>1797</locationX>
        <locationY>353</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prior_Exceeds_Cap</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPE_Prior.hed__Program_Plan__c</elementReference>
            </value>
        </filters>
        <object>hed__Program_Plan__c</object>
        <outputReference>varPlan_Prior</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>hed__Total_Required_Credits__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_PE_Current</name>
        <label>Update_PE_Current</label>
        <locationX>1324</locationX>
        <locationY>285</locationY>
        <connector>
            <targetReference>Has_Different_Prior_PE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.hed__Program_Enrollment__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>hed__Credits_Earned__c</field>
            <value>
                <elementReference>varTotalCurrent</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Program_Enrollment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PE_Prior</name>
        <label>Update_PE_Prior</label>
        <locationX>1978</locationX>
        <locationY>90</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.hed__Program_Enrollment__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>hed__Credits_Earned__c</field>
            <value>
                <elementReference>varTotalPrior</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Program_Enrollment__c</object>
    </recordUpdates>
    <start>
        <locationX>40</locationX>
        <locationY>80</locationY>
        <connector>
            <targetReference>Has_Current_PE</targetReference>
        </connector>
        <filterFormula>OR(
  ISCHANGED({!$Record.hed__Program_Enrollment__c}),
  ISCHANGED({!$Record.hed__Credits_Attempted__c}),
  ISCHANGED({!$Record.Notations__c})
)</filterFormula>
        <object>hed__Course_Enrollment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Sub_Opt</name>
        <label>Sub_Opt</label>
        <locationX>796</locationX>
        <locationY>529</locationY>
        <connector>
            <targetReference>Adjust_CopySubflowOutputs</targetReference>
        </connector>
        <flowName>PE_Optional_Groups_Cap_Subflow</flowName>
        <inputAssignments>
            <name>in_PEId</name>
            <value>
                <elementReference>$Record.hed__Program_Enrollment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>in_PlanId</name>
            <value>
                <elementReference>varPE_Current.hed__Program_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>colCCCurrent</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>colCCPrior</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>varCCCurrent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>varCCPrior</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>varNonOptionalAttempted</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>varOptionalCapped</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>varOptionalRaw</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>varPE_Current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Program_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>varPE_Prior</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Program_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>varPlan_Current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Program_Plan__c</objectType>
    </variables>
    <variables>
        <name>varPlan_Prior</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Program_Plan__c</objectType>
    </variables>
    <variables>
        <name>varTotalCurrent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>varTotalPrior</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
</Flow>
