force-app/main/default/flows/Backup flows sum earn 17 12 25/PE_Recalculate_ByPlan_FROM_ProgramPlan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asg_AddSingle</name>
        <label>Add single</label>
        <locationX>680</locationX>
        <locationY>223</locationY>
        <assignmentItems>
            <assignToReference>colPlanIdsWork</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Worker</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asg_CopyList</name>
        <label>Copy list</label>
        <locationX>240</locationX>
        <locationY>211</locationY>
        <assignmentItems>
            <assignToReference>colPlanIdsWork</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Worker</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Dec_HasList</name>
        <label>Has recordIds list?</label>
        <locationX>70</locationX>
        <locationY>198</locationY>
        <defaultConnectorLabel>NoIds</defaultConnectorLabel>
        <rules>
            <name>HasList</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>recordIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asg_CopyList</targetReference>
            </connector>
            <label>HasList</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dec_HasSingle</name>
        <label>Has single recordId?</label>
        <locationX>481</locationX>
        <locationY>132</locationY>
        <defaultConnectorLabel>CheckList</defaultConnectorLabel>
        <rules>
            <name>HasSingle</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asg_AddSingle</targetReference>
            </connector>
            <label>HasSingle</label>
        </rules>
    </decisions>
    <description>v5</description>
    <environments>Default</environments>
    <interviewLabel>PE_Recalculate_ByPlan_FROM_ProgramPlan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PE_Recalculate_ByPlan_FROM_ProgramPlan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Scr_Done</name>
        <label>Done</label>
        <locationX>839</locationX>
        <locationY>376</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt</name>
            <fieldText>&lt;p&gt;Proccess done, check if something odd&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Scr_NoIds</name>
        <label>No Ids</label>
        <locationX>797</locationX>
        <locationY>130</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msg</name>
            <fieldText>&lt;p&gt;There is no ID on Program Plans&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Dec_HasSingle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_Worker</name>
        <label>Call Worker</label>
        <locationX>127</locationX>
        <locationY>487</locationY>
        <connector>
            <targetReference>Scr_Done</targetReference>
        </connector>
        <flowName>PE_Recalculate_ByPlan_Worker</flowName>
        <inputAssignments>
            <name>varPlanIds</name>
            <value>
                <elementReference>colPlanIdsWork</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>colPlanIdsWork</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
